h1 {
  color: red;
}
.blueboard{
  color: white;
  background: blue;
  width: 100px;
  font-size: 15px;
}
.indent{
  margin-top: 100px;
}
.logostyle{
width: 160px;
}
.textwhite{
color: white;
}
h2{
  background: green;
  color: white;
  padding: 5px
}
.textred{
  color: red;
}
.updown{
  padding: 50px;

}
.tableborder{
  border: 0.5px solid black;
font-size: 30px;
}
.indentleft{
  margin-left: 50px
}
